@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

$lighterBlue: #c6eafe;
$lightBlue: #53A0D4;
$brightBlue: #42b8fb;
$nylBlue: #007ac3;

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

input {
    border-color: $lighterBlue;
    border-style: dotted;
    border-radius: 3px;
    border-width: 1px;
    padding: 5px;
    &:focus {
        outline: none;
        border-color: $brightBlue;
    }
}

.mainContentWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-size: 60px;
}

.contentBox {
    display: block;
    input, textarea {
        color: $nylBlue;
        caret-color: $lightBlue;
        font-size: inherit;
        font-weight: 200;
        font-style: italic;
        margin: 10px;
        text-align: center;
    }
}
