$nyl-blue: #0079c2;
$nyl-blue-lgt: #42b8fb;
$nyl-grey-drk: rgb(83, 84, 85);
$nyl-grey-lgt: rgb(149, 152, 154);

$lighterBlue: #c6eafe;
$lightBlue: #53A0D4;
$brightBlue: #42b8fb;
$nylBlue: #007ac3;


.wizardWrapper {
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;    
    top: 0;
    will-change: left;
    transition: left ease 0.3s;
    &.page1Pos1 {
        left: 0;
    }
    &.page1Pos2 {
        left: -100%; 
    }
    &.page1Pos3 {
        left: -100%;
    }
    &.page1Pos4 {
        left: -100%;
    }
    &.page2Pos1 {
        left: 100%;
    }
    &.page2Pos2 {
        left: 0; 
    }
    &.page2Pos3 {
        left: -100%;
    }
    &.page2Pos4 {
        left: -100%;
    }
    &.page3Pos1 {
        left: 100%;
    }
    &.page3Pos2 {
        left: 100%; 
    }
    &.page3Pos3 {
        left: 0;
    }
    &.page3Pos4 {
        left: -100%;
    }
    &.page4Pos1 {
        left: 100%;
    }
    &.page4Pos2 {
        left: 100%; 
    }
    &.page4Pos3 {
        left: 100%;
    }
    &.page4Pos4 {
        left: 0;
    }
}